---
import LayoutComponent from "../../../layouts/LayoutComponent.astro";

import Header from "./header.astro";
import headerProps from "./data/header.tsx";


---
<LayoutComponent isFullScreen hasBackLinkBelow>
  <div class="layout-header">
    <Header {...headerProps} />
  </div>
</LayoutComponent>

<style lang="scss">
  @use "../../../scss/config" as *;
  
  .layout-header{
    height: 100%;
    width: 100%;
    background: $gray-200;
  }
</style>