---
import Layout from "../../../layouts/Layout.astro";
import Components from "../../../layouts/Components.astro";

import Noise from "./noise.astro";
---

<Layout title="test">
  <Components>
      <div class="noise-component"><Noise /></div>
  </Components>
</Layout>

<style lang="scss">
  @use "../../../scss/config" as *;
  
  .noise-component{
    @include cover()
  }
</style>