---
import LayoutComponent from "../../../layouts/LayoutComponent.astro";
import Layout from "../../../layouts/Layout.astro";

import Button, { ButtonVariant } from "./button.astro";
---
<LayoutComponent>
  <div class="buttons">
    <Button variant={ButtonVariant.Link}>
      Link
    </Button>
    <Button>
      Default
    </Button>
    <Button variant={ButtonVariant.Outline}>
      Outline
    </Button>
    <Button disabled>
      Disabled
    </Button>
  </div>
</LayoutComponent>
