---
import Layout from "../../../layouts/Layout.astro";
import Components from "../../../layouts/Components.astro";

import GlossyBorder from "./glossy-border.astro";

const items = [];
for (let i = 0; i < 9; i++) {
  items.push(i+1);
}
---

<Layout title="test">
  <Components>
    <div class="glossy-border-block">
      {items.map((item) => (
        <GlossyBorder>
          {item}
        </GlossyBorder>
      ))}
    </div>
  </Components>
</Layout>

<style lang="scss">
  @use "../../../scss/config" as *;
  
  :root{
    --layout-component--background: #{$gray-900};
  }

  .glossy-border-block{
    width: 100%;
    padding: $gutter;
    gap: rem(20);
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
</style>