---
import Layout from "../../../layouts/Layout.astro";
import LayoutComponent from "../../../layouts/LayoutComponent.astro";

import Noise from "./noise.astro";
---

<LayoutComponent>
    <div class="noise-component"><Noise /></div>
</LayoutComponent>

<style lang="scss">
  @use "../../../scss/config" as *;
  
  .noise-component{
    @include cover()
  }
</style>