---
import LayoutComponent from "../../../layouts/LayoutComponent.astro";

import EyeFollow from "../eye-follow/eye-follow.astro";
---

<LayoutComponent>
    <div class="eye-follow-container">
      <EyeFollow/>
    </div>
</LayoutComponent>

<style lang="scss">
  @use "../../../scss/config" as *;
  .eye-follow-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>