---
import Button, { ButtonVariant } from "@components/atoms/button/button.astro";
---
<div class="buttons">
  <Button variant={ButtonVariant.Link}>
    Link
  </Button>
  <Button>
    Default
  </Button>
  <Button variant={ButtonVariant.Outline}>
    Outline
  </Button>
  <Button disabled>
    Disabled
  </Button>
</div>