@use "./functions/units" as units;

// Browser context
// $browser-context: is defined into the "./functions/units" files;

// Color
$gray-100: #f7fafc;
$gray-200: #edf2f7;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray-500: #a0aec0;
$gray-600: #718096;
$gray-700: #4a5568;
$gray-800: #2d3748;
$gray-900: #1a202c;

$black: #000;
$white: #FFF;

$primary-100: #ebf8ff;
$primary-200: #bee3f8;
$primary-300: #90cdf4;
$primary-400: #63b3ed;
$primary-500: #4299e1;
$primary-600: #3182ce;
$primary-700: #2b6cb0;
$primary-800: #2c5282;
$primary-900: #2a4365;

$secondary: $primary-900;

$primary: $primary-500;

// Typography
$ff-default: "Sora", Tahoma, Geneva, Verdana, sans-serif;
$ff-title: "Sora", Tahoma, Geneva, Verdana, sans-serif;
$ff-code: monospace;

$fs-xs: units.rem(12);
$fs-sm: units.rem(14);
$fs-base: units.rem(16);
$fs-lg: units.rem(20);
$fs-xl: units.rem(24);
$fs-2xl: units.rem(32);
$fs-3xl: units.rem(40);
$fs-4xl: units.rem(48);

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;

// Media queries
$breakpoints: (
  xs: 375,
  sm: 640,
  md: 768,
  lg: 1024,
  xl: 1280,
  2xl: 1536,
  3xl: 1920,
);

// Z-index
$z-index-values: ('modal', 'tooltip', 'header', 'base');

// Gutter
$gutter: 30px;
$gutter-mobile: 16px;

// Border
$radius-sm: units.rem(2);
$radius-base: units.rem(4);
$radius-md: units.rem(6);
$radius-lg: units.rem(8);
$radius-xl: units.rem(12); 
$radius-2xl: units.rem(16);
$radius-3xl: units.rem(24);
$radius-full: units.rem(999999);
