---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		<div class="main-layout">
			<div class="main-layout__head">
				
			</div>
			<div class="main-layout__body">
				<slot />
			</div>
			<div class="main-layout__head">

			</div>
		</div>
	</body>
</html>
<style lang="scss" is:global>
	@use "../scss/base";
	@use "../scss/config" as *;
	
	$main-layout--background: $white;

	.main-layout {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: space-between;
		min-height: 100vh;

		background: $main-layout--background;

		&__head,
		&__foot {
				flex-grow: 0;
				flex-shrink: 0;
		}   

		&__body {
				flex-grow: 1;
				flex-shrink: 0;
		} 
			
	}
</style>
