---
import CsrLavaLamp, { LavaLampColor } from "./lava-lamp.astro";

// how to have an background image in astro: https://github.com/withastro/astro/issues/5268
import imgNoise from './svg/noise.svg';
---
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap" rel="stylesheet">

<div class="section-lava-lamp-layout">
  <h1 class="section-lava-lamp-layout__title">
    Nebula
  </h1>
  <div class="section-lava-lamp-layout__overlay">
  </div>
  <CsrLavaLamp class="section-lava-lamp-layout__el" color={LavaLampColor.VariantB}/>

  
  <!-- <div class="section">
    <div class="isolate">
      <div class="noise" style={{ 
          background: `linear-gradient(20deg, blue, transparent), url(${imgNoise.src})`,
          filter: 'contrast(170%) brightness(1000%)' 
        }}></div>
      <div class="overlay"></div>
    </div>
  </div> -->
</div>

<style lang="scss">
  @use "../../../scss/config" as *;

  // .noise{
  //   @include cover;
  // }
  
  // // .isolate {
  // //   isolation: isolate;
  // //   position: relative;
  // //   width: 100%;
  // //   height: 100%;
  // // }

  // // .overlay {
  // //   position: absolute;
  // //   top: 0;
  // //   width: 100%;
  // //   height: 100%;
  // //   background: white;
  // //   mix-blend-mode: multiply;
  // // }
  // .section{
  //   @include square(300);
  //   position: absolute;
  //   left: 0; top: 0;
  // }

  .section-lava-lamp-layout{
    position: relative;
    margin: 0 auto;
    @include square(800);

    &__title{
      position: absolute;
      z-index: 9;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      font-size: rem(70);
      font-weight: 900;
      line-height: 1;
      text-align: center;
      color: $white;
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 700;
    }
    &__el{
      position: absolute;
      z-index: 8;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 100%;
      height: 100%;
      // border-radius: rem(100);
      overflow: hidden;
      // opacity: .5;
    }
    &__overlay{
      @include cover();
      background: radial-gradient(circle at center, rgba($white,0) 0%, rgba($white,1) 70%);
      z-index: 10;
    }
    &__noise{
      @include cover();
      overflow: hidden;
      z-index: 10;  
      opacity: .3;
    }
  }
</style>